.sidebarr {
  width: 250px;
  min-width: 250px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebarr a {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #6c757d;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sidebarr a:hover {
  background-color: #f1f1f1;
}

.sidebarr a.active {
  background-color: #7b61ff;
  color: #ffffff;
}

.sidebarr a i {
  margin-right: 10px;
}
